<div class="container-fluid">
  <div *ngIf="filter" class="d-flex align-items-center mt-3 gap-3">
    <p class="fs-5 fw-semibold m-0">
      Produtos econtrados com o nome "{{ filter }}"
    </p>
    <button class="btn btn-secondary text-white" (click)="removeFilter()">
      Limpar filtro
    </button>
  </div>
  <ul
    class="m-0 p-0 mt-3 mb-3 w-100 row row-cols-1 row-cols-md-2 row-cols-lg-4 g-3"
  >
    <app-product-card
      class="col"
      *ngFor="let food of filteredFoodList"
      [img]="food.img"
      [name]="food.name"
      [price]="food.price"
      [category]="food.category"
    ></app-product-card>
  </ul>
</div>
